<div class="container bootstrap snippets">
<div class="col-md-7 col-xs-12 col-md-offset-2">
  <div class="panel" id="chat">
    <div class="panel-heading">
      <h3 class="panel-title text-center">
        Realtime Ember Chat Bot
      </h3>
    </div>

     {{#bot-app}}{{/bot-app}}
  </div>
</div>
</div>

{{outlet}}